*{
    margin:0;
    padding:0;
}
@media(min-width:1025px){ /*para cambiar su tamano en el desktop y notebook, porque me parecia demasiado grande */
    #carousel1,#carousel2,#carousel3{
        width:1000px;
        height:600px;
            }
}
#sobreLaPagina{
    display:flex;
    
}